# 빌드 & 패키지
node_modules/
dist/
dist-ssr/
*.local

# 환경 설정
.env
.env.*
postcss.config.js
tailwind.config.js
index.html  

# IDE
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store

# 기타
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
