@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0275a8; /* 버튼 파란색 예시 */
  --white: #ffffff;
  --light-gray: #f0f0f0;
  --border-radius-sm: 6px;
  --border-radius-md: 12px;
  --font-md: 16px;
}
